<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rashail Test Project - Home</title>
</head>
<body>
    <h1 style="text-align: center;">This is the home page of Rashail Test Project</h1>
    <br><br><br>
    <form style="margin-left: 500px;" method="GET", action="/last_dose">
        <label>Enter machine id :</label>
        <input name="machine_id">
        <br><br>
        <button>Click for last dose</button>
    </form>

</body>
</html>